/* css */
body {
    margin: 0;
    overflow: hidden;
}

header {
    color: black;
    text-align: center;
    padding: 20px;
    font-family: 'Earth Orbiter', sans-serif;
}

#container {
    width: 100%;
    height: 100vh; /* Set the container height to the viewport height */
    position: relative;
    overflow: auto;
}

.bar {
    width: 100%;
    height: 5px;
}



#bars {
    width: 100%;
}






